:root{
    --blur: 10px ;
    --spacing: 10px ;
    --base: #ffc600 ;
}

.hl{
    color: var(--base);
}

img{
    background-color: var(--base);
    filter: blur(var(--blur));
    padding: var(--spacing);
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }